<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Browser Tests</title>
        <style id="style">
            * {
                -webkit-user-select: none;
            }

            body {
                background-color: white;
            }
            button { 
                margin: 5px;
                padding: 5px;
            }
        </style>
        <script>
            if (typeof cep_node !== 'undefined') {
                window.require = cep_node.require;
                window.Buffer = cep_node.Buffer;
                window.process = cep_node.process;
            }
        </script>
    </head>
    <body unselectable="on">
        <button onclick="window.mocha.run()">Start</button>
        <button onclick="cep.util.openURLInDefaultBrowser('http://localhost:8094/')">Debugger at http://localhost:8094/</button>
        <button onclick="location.reload(true)">Reload</button>
        <div id="mocha"></div>
    </body>
</html>
